body{
    font-family: 'Times New Roman', Times, serif;
    background-color: #006600;
    display: flex;
    color: black;
}

div{
    font-family: 'Times New Roman', Times, serif;
    background-color: chocolate;
    background:;
    padding: 15px;
    margin: 15px;
}

main {
    background-color: chocolate;
}

footer {
    background-color: #006600;
    color: black;

}